<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anjoyo.mlgy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.anjoyo.meituan.app.AppContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="V5E9WkR9Q8g8Fl71Ft8nFNO7" />

        <activity
            android:name="com.anjoyo.meituan.ui.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MineActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.HistoryActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MoreActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.SellerLocationActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.GroupBuyActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MerchantActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.AboutMeiTuanActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.utils.ExcelRead" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.NotificationActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.SpaceImageDetailActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MessageRemindActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.SellerDetailActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.AccountActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.TicketActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.CollectActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.RecommendedActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.ShareSetActivity" >
        </activity>
        <activity
            android:name="com.anjoyo.meituan.ui.GroupBuyDetailsActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.ProductDetailActivity" >
        </activity>
        <activity
            android:name="com.anjoyo.meituan.ui.CheckUpdateActivity"
            android:theme="@style/updateactivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.ObligationActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.PaidActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.QueryActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.LotteryActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.GroupBuyImageDetailsActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MainActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.CommentActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MyMapActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MoreClassifyActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.TodayNewOrderActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.MovieActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.VoucherHelpActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.AmedUserNameActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.AmedPasswordActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.AddressManageActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.RegisterActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.LoginActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.SeekActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.QuestionActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.QuestionListActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.OrderActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.PayOrderActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.OrderDetailActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.NewAddressActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.GridActivity" >
        </activity>
        <activity android:name="com.anjoyo.meituan.ui.QuestionDetailActivity" >
        </activity>
        <activity android:name="com.jsk.imgtxt.WenzhangDetailActivity" >
            </activity>
         <activity android:name="com.anjoyo.meituan.ui.YueeActivity" >
        </activity>
         <activity android:name="com.anjoyo.meituan.ui.YuyueActivity" >
        </activity>
        
    </application>

</manifest>